<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="tarcinappLoggingLevel" source="app.logging.tarcinapp" defaultValue="info" />
    <springProperty scope="context" name="httpLoggingLevel" source="app.logging.http" defaultValue="info" />
    <springProperty scope="context" name="gatewayLoggingLevel" source="app.logging.gateway" defaultValue="info" />
    <springProperty scope="context" name="redissonLoggingLevel" source="app.logging.redisson" defaultValue="info" />

    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%d{ISO8601}][%level][%t][%C{1}][%X{RequestId}]: %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    
    <!-- LOG everything at INFO level -->
    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
 
    <logger name="com.tarcinapp" level="${tarcinappLoggingLevel}" additivity="false">
        <appender-ref ref="Console" />
    </logger>

    <logger name="org.redisson" level="${redissonLoggingLevel}" additivity="false">
        <appender-ref ref="Console" />
    </logger>

    <logger name="org.springframework.cloud.gateway" level="${gatewayLoggingLevel}" additivity="false">
        <appender-ref ref="Console" />
    </logger>

    <logger name="org.springframework.web.HttpLogging" level="${httpLoggingLevel}" additivity="false">
        <appender-ref ref="Console" />
    </logger>
 
</configuration>